/**
 * Protected System List (Main Screen)
 */
.page {
    width: 100%;
}

.box {
    width: 12em;
    height: 4em;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    background-color: lightgreen;
}

.box.outage {
    background-color: lightcoral;
}

.box.outage > a > p {
    font-weight: bold;
    color: yellow;
}

.box.outage > label {
    font-weight: bold;
    color: yellow;
}

.box > a > p {
    width: 11em;
    text-align: center;
}

.box > label {
    width: 11em;
    text-align: center;
}

/**
 * Red color for outage DataTables rows
 */
td.outage {
    background-color: lightcoral;
    font-weight: bold;
};

/**
 * Foundation elements
 */
.small-panel {
    padding-bottom: 0px;
}

a.item.small-icon-anchor {
    padding: 5px;
}

a.item.small-icon-anchor > * {
    padding: 5px;
    font-size: 1em;
}

div.icon-bar.small.one-up {
    width: 30px;
}
