<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>System Availability Monitoring Tool</description>
    <display-name>online</display-name>
    
    <session-config>
        <session-timeout>21600</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <security-constraint>
        <display-name>protected</display-name>
        <web-resource-collection>
            <web-resource-name>userpages</web-resource-name>
            <description/>
            <url-pattern>/pages/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Only Users And Administrators</description>
            <role-name>ADMINISTRATOR</role-name>
            <role-name>USER</role-name>
        </auth-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>online_realm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/loginError.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    
    <security-role>
        <description>All Users</description>
        <role-name>USER</role-name>
    </security-role>
    
    <security-role>
        <description>Super Users</description>
        <role-name>ADMINISTRATOR</role-name>
    </security-role>
</web-app>
